{{ define "main" }}

<h1>{{ .Title }}</h1>

{{ $base := union
    (where .Site.RegularPages "Section" "blog")
    (where .Site.RegularPages "Section" "til")
}}
{{ $aiEssays := where $base "Params.series" "intersect" (slice "Essays with AI") }}
{{ $allContent := $base | complement $aiEssays }}
{{ $sorted := sort $allContent "PublishDate" "desc" }}

{{ $paginator := .Paginate $sorted }}
{{ range $paginator.Pages }}
    {{ partial "article-listing.html" . }}
{{ end }}

{{- partial "pagination.html" . -}}

{{ end }}
