{{ define "main" }} {{ partial "search_form.html" . }}

<main>
    <div id="search-results"></div>
    <div class="search-loading" style="display: none;">Loading...</div>

    <script id="search-result-template" type="text/x-js-template">
        <div id="summary-${key}">
            <h3><a href="${link}">${title}</a></h3>
            <p>${snippet}</p>
            <p>
                <small>
                    ${ isset tags }Tags: ${tags}<br>${ end }
                </small>
            </p>
        </div>
    </script>
</main>

{{ $fuse := .Resources.Get "fuse.min.js" }} {{ $fuse = $fuse | minify |fingerprint }}
<script
    src="{{ $fuse.RelPermalink }}"
    integrity="{{ $fuse.Data.Integrity }}"
></script>

{{ $mark := .Resources.Get "mark.min.js" }} {{ $mark = $mark | minify | fingerprint }}
<script
    src="{{ $mark.RelPermalink }}"
    integrity="{{ $mark.Data.Integrity }}"
></script>

{{ $js := .Resources.Get "search.js" }} {{ if $js }} {{ $js = $js | minify |
fingerprint }}
<script
    src="{{ $js.RelPermalink }}"
    integrity="{{ $js.Data.Integrity }}"
></script>
{{ end }} {{ end }}
