{{ define "main" }}

<div class="content-type-badge">{{ .Section }}</div>

<header>
    <h1>{{ .Title }}</h1>
    {{- if ne .Type "resume" -}}
    <div class="article-meta">{{ partial "date-and-tags.html" . }}</div>
    {{- end -}}
</header>
{{ if .Params.summary }}
<div id="abstract">{{ .Params.summary | markdownify }}</div>
{{ end }}
{{- with .Params.images -}}
    {{- $imgName := index . 0 -}}
    {{- $alt := $.Params.hero_alt | default $.Title -}}
    {{- with $.Resources.GetMatch $imgName -}}
        {{- if strings.HasSuffix $imgName ".svg" -}}
<div class="hero-image">
    <img src="{{ .RelPermalink }}" alt="{{ $alt }}">
</div>
        {{- else -}}
<div class="hero-image">
    <img src="{{ .RelPermalink }}" alt="{{ $alt }}" width="{{ .Width }}" height="{{ .Height }}">
</div>
        {{- end -}}
    {{- end -}}
{{- end -}} {{ partial "series.html" . }} {{ partial "toc.html" . }}
<article class="section-{{ .Type }}">
    {{ .Content }}
    <br />
    {{ partial "related.html" . }} {{- if and .File .Site.Params.githubRepo -}}
    <p class="view-source">
        <a
            href="{{ .Site.Params.githubRepo }}/blob/main/content/{{ .File.Path }}"
            target="_blank"
            rel="noopener"
        >
            View page source
        </a>
    </p>
    {{- end -}}
</article>
{{ end }}
