{{/* Reusable article listing partial */}}
{{- $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" -}}
<div class="article-listing">
    <div>
        <a class="article-listing-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
        <a class="article-listing-section" href="{{ .Section | printf "/%s/" }}">{{ .Section }}</a>
        <span class="article-listing-date">
            &mdash; <time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format $dateFormat }}</time>
        </span>
    </div>
    {{ if .Params.summary }}
    <span class="article-listing-summary">{{ .Params.summary | markdownify | truncate 200 }}</span>
    {{ end }}
</div>
