{{ $dateTime := .PublishDate.Format "2006-01-02" }} {{ $dateFormat :=
.Site.Params.dateFormat | default "Jan 2, 2006" }}
<time class="summary" datetime="{{ $dateTime }}"
    >{{ .PublishDate.Format $dateFormat }}</time
>
{{ $taxonomies := slice (dict "name" "tags" "label" "Tags" "singular" "Tag")
(dict "name" "capabilities" "label" "Capabilities" "singular" "Capability") }}
{{ range $taxonomies }} {{ $taxonomy := . }} {{ $terms := index $.Params .name
}} {{ with $terms }}
<br />
<div role="list" aria-label="{{ $taxonomy.label }}">
    {{ range . }} {{ $href := print (relURL (printf "%s/" $taxonomy.name))
    (urlize .) }}
    <a
        class="btn btn-sm btn-outline-dark tag-btn summary"
        href="{{ $href }}"
        role="listitem"
        aria-label="{{ $taxonomy.singular }}: {{ . }}"
        >{{ . }}</a
    >
    {{ end }}
</div>
{{ end }} {{ end }}
<br />
