<div id="nav-border" class="container no-print">
    <nav
        id="nav"
        class="nav justify-content-around"
        role="navigation"
        aria-label="Main navigation"
    >
        {{ range .Site.Menus.main }}
        {{ $isActive := false }}
        {{ if eq .URL "/" }}
            {{ $isActive = eq $.RelPermalink "/" }}
        {{ else }}
            {{ $isActive = hasPrefix $.RelPermalink .URL }}
        {{ end }}
        <a href="{{ .URL }}" aria-label="{{ .Name }}" {{ if $isActive }}class="active"{{ end }}>
            {{ .Name | safeHTML }}
        </a>
        {{ end }}
    </nav>
</div>
