{{ if .Params.series }} {{ $name := index .Params.series 0 }} {{ $currentPage :=
. }} {{ $seriesKey := $name | urlize | replaceRE "-" " " }} {{ $seriesURL :=
printf "/series/%s/" ($name | urlize) }}
<nav aria-labelledby="series-heading">
    <p id="series-heading">
        This article is part of a <a href="{{ $seriesURL }}">series</a>.
    </p>
    <ul aria-label="Articles in this series">
        {{ with index .Site.Taxonomies.series $seriesKey }} {{ range $num, $post
        := .Pages.ByDate }} {{ if eq $post.Permalink $currentPage.Permalink }}
        <li aria-current="page">Part {{ add $num 1 }}: This Article</li>
        {{ else }}
        <li>
            <a href="{{$post.Permalink}}">
                Part {{ add $num 1 }}: {{ $post.Params.title}}
            </a>
        </li>
        {{end}} {{end}} {{end}}
    </ul>
</nav>
{{end}}
