{{ define "main" }}

<div id="home-jumbotron" class="jumbotron text-center">
    <h1>{{ .Title }}</h1>
    <p class="font-125">{{ .Site.Params.homeText | markdownify }}</p>
    <div class="d-flex justify-content-center">
        {{ partial "search_form.html" . }}
    </div>
</div>

<p>Here's the latest. View the <a href="/blog/">Blog</a> or <a href="/til/">Today
        I Learned&hellip;</a> sections for more.
      I&rsquo;ve also read <a href="/recommendations/">great books that I recommend</a>.
</p>

<h2>Today I Learned&hellip;</h2>

{{ range first 3 (where (where .Site.Pages "Section" "til") ".Title" "!=" "Today I Learned") }}
{{ partial "article-listing.html" . }}
{{ end }}
<small class="muted"><a href="/til/">More&hellip;</a></small>

<h2>Recent Blog Posts</h2>

{{ range first 5 (where (where .Site.Pages "Section" "blog") ".Title" "!=" "Blog") }}
{{ partial "article-listing.html" . }}
{{ end }}

<small class="muted"><a href="/blog/">More&hellip;</a></small>
{{ end }}
