{{ define "main" }}

<div id="home-jumbotron" class="jumbotron text-center">
    <h1>{{ .Title }}</h1>
    <p class="font-125">{{ .Site.Params.homeText | markdownify }}</p>
    <div class="d-flex justify-content-center">
        {{ partial "search_form.html" . }}
    </div>
</div>

<p>
    Hi 👋 <a href="/about">I'm Dylan</a>. Most content is in
    <a href="/blog/">blog posts</a> or little notes to my future self called
    <a href="/til/">Today I Learned&hellip;</a>
    Follow the links up top☝️to explore. Social links are in the footer👇
</p>

<hr />

{{ $allContent := where .Site.RegularPages "Section" "in" (slice "blog" "til")
}} {{ range first 10 $allContent }} {{ partial "article-listing.html" . }} {{
end }}

<script>
    document.addEventListener("keydown", function (e) {
        if (
            e.key === "/" &&
            document.activeElement.tagName !== "INPUT" &&
            document.activeElement.tagName !== "TEXTAREA"
        ) {
            e.preventDefault();
            var searchInput = document.getElementById("search-query");
            if (searchInput) {
                searchInput.focus();
            }
        }
    });
</script>

{{ end }}
