{{- $file := .Get "src" -}}
{{- $width := .Get "width" -}}

{{- if not $file -}}
    {{- errorf "d2 shortcode requires 'src' parameter with path to .d2 file" -}}
{{- end -}}

{{- /* Generate output filename - always SVG since that's what the scripts generate */ -}}
{{- $outputFilename := printf "%s.svg" (replaceRE `\.d2$` "" $file) -}}

{{- /* Generate unique ID for this diagram */ -}}
{{- $id := printf "d2-%s" (md5 $file) -}}

<figure class="d2-diagram" id="{{ $id }}">
    <img src="{{ $outputFilename }}" alt="D2 diagram from {{ $file }}" loading="lazy" {{- if $width }} style="width: {{ $width }};"{{- end }} />
    {{- with .Inner -}}
        <figcaption>{{ . | markdownify }}</figcaption>
    {{- end -}}
</figure>
